<nav class="navbar navbar-expand-md navbar-light fixed-top bg-white" id="main-nav">

  <a href="#HOME">
    <img src="https://www.cinema143.com/sites/default/files/cinema143_logo.jpg" height="80" alt="Kivar Technologies"></a>
   <div class="navbar-header">
       <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#mainnavbar">
           <span >
               <i class="fa fa-bars" aria-hidden="true"></i>
           </span>
       </button>
     </div>
 <div class="collapse navbar-collapse" id="mainnavbar">
   <ul class="navbar-nav ">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        MOVIES
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">NEWS</a>
        <a class="dropdown-item" href="#">ARTICLES</a>
        <a class="dropdown-item" href="#">REVIEWS</a>
        <a class="dropdown-item" href="#gallery">IMAGES</a>
        <a class="dropdown-item" href="#videos">VIDEOS</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        SHORT FILMS
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">CINEMA143 SHORT FILM</a>
        <a class="dropdown-item" href="#">NOMINATION FORM</a>
        <a class="dropdown-item" href="#">REVIEWS</a>
        <a class="dropdown-item" href="#">VEDIOS</a>
        <a class="dropdown-item" href="#">TODAY SHORT FILM</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    OLD MOVIES
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">BACKSTAGE STORIES</a>
        <a class="dropdown-item" href="#">GOLDEN HITS</a>
        <a class="dropdown-item" href="#">SILVER SCREEN SUPER</a>
        <a class="dropdown-item" href="#">STARS</a>

      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        FILM SCHOOL
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">SCRIPT LESSONS</a>
        <a class="dropdown-item" href="#">SCRIPT ANALYSIS</a>
        <a class="dropdown-item" href="#">DIRECTOR'S SUCCESS</a>
        <a class="dropdown-item" href="#">ELEMENTS</a>
        <a class="dropdown-item" href="#">OTHER MOVIE ELEMENTS</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">FULL LENGTH MOVIES</a>
    </li>
   </ul>
 </div>

</nav>
<hr>
<div>

<!-- <app-gallery></app-gallery>
<app-advertisements></app-advertisements> -->
</div>

<!-- <div class="container-fluid" style="margin-top: 50px;">
<div class="row">
  <div class="col-lg-3">
      <app-advertisements></app-advertisements>
      <app-upcomingmovies></app-upcomingmovies>
  </div>
  <div class="col-lg-6">
      <app-gallerythumb></app-gallerythumb>
      <app-updates></app-updates>
    </div>
    <div class="col-lg-3">
       <app-videos></app-videos>
      </div>
</div>
</div> -->
